# Models

The following cells set up database tables for inserting and querying our eviction data.

In [1]:
from sqlalchemy import create_engine, UniqueConstraint
engine = create_engine('sqlite:///:memory:', echo=True)

In [2]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, ForeignKey, Table, Text
from sqlalchemy.orm import relationship

In [3]:
class District(Base):
    __tablename__ = 'districts'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    
    attorneys = relationship('Attorney', back_populates='district')
    plantiffs = relationship('Plantiff', back_populates='district')
    defendants = relationship('Defendant', back_populates='district')
    judges = relationship('Judge', back_populates='district')
    courtrooms = relationship('Courtroom', back_populates='district')
    
    def __repr__(self):
        return "<District(name='%s')>" % (self.name)

In [4]:
detainer_warrant_defendants = Table(
    'detainer_warrant_defendants', 
    Base.metadata,
    Column('detainer_warrant_docket_id', ForeignKey('detainer_warrants.docket_id'), primary_key=True),
    Column('defendant_id', ForeignKey('defendants.id'), primary_key=True)
)

In [5]:
class Defendant(Base):
    __tablename__ = 'defendants'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    phone = Column(String)
    address = Column(String, nullable=False)
    
    district_id = Column(Integer, ForeignKey('districts.id'), nullable=False)
    
    UniqueConstraint('name', 'district_id')
    
    district = relationship('District', back_populates='defendants')
    detainer_warrants = relationship('DetainerWarrant',
                                     secondary=detainer_warrant_defendants,
                                     back_populates='defendants'
                                    )

    def __repr__(self):
        return "<Defendant(name='%s', phone='%s', address='%s')>" % (self.name, self.phone, self.address)

In [6]:
class Attorney(Base):
    __tablename__ = 'attorneys'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    district_id = Column(Integer, ForeignKey('districts.id'), nullable=False)
    
    UniqueConstraint('name', 'district_id')
    
    district = relationship('District', back_populates='attorneys')
    plantiff_clients = relationship('Plantiff', back_populates='attorney')
    
    def __repr__(self):
        return "<Attorney(name='%s', district_id='%s')>" % (self.name, self.district_id)

In [7]:
class Courtroom(Base):
    __tablename__ = 'courtrooms'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    district_id = Column(Integer, ForeignKey('districts.id'), nullable=False)
    
    UniqueConstraint('name', 'district_id')
    
    district = relationship('District', back_populates='courtrooms')
    cases = relationship('DetainerWarrant', back_populates='courtroom')
    
    def __repr__(self):
        return "<Courtroom(name='%s')>" % (self.name)

In [8]:
class Plantiff(Base):
    __tablename__ = 'plantiffs'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    attorney_id = Column(Integer, ForeignKey('attorneys.id'))
    district_id = Column(Integer, ForeignKey('districts.id'), nullable=False)
    
    UniqueConstraint('name', 'district_id')
    
    district = relationship('District', back_populates='plantiffs')
    attorney = relationship('Attorney', back_populates='plantiff_clients')
    detainer_warrants = relationship('DetainerWarrant', back_populates='plantiff')
    
    def __repr__(self):
        return "<Plantiff(name='%s', attorney_id='%s', district_id='%s')>" % (self.name, self.attorney_id, self.district_id)

In [9]:
class Judge(Base):
    __tablename__ = "judges"
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    district_id = Column(Integer, ForeignKey('districts.id'), nullable=False)
    
    UniqueConstraint('name', 'district_id')
    
    district = relationship('District', back_populates='judges')
    cases = relationship('DetainerWarrant', back_populates='presiding_judge')
    
    def __repr__(self):
        return "<Judge(name='%s')>" % (self.name)

In [10]:
class DetainerWarrant(Base):
    __tablename__ = 'detainer_warrants'
    docket_id = Column(String, primary_key=True)
    file_date = Column(String, nullable=False)
    status = Column(Integer, nullable=False) # union?
    plantiff_id = Column(Integer, ForeignKey('plantiffs.id'))
    court_date = Column(String, nullable=False) # date
    courtroom_id = Column(Integer, ForeignKey('courtrooms.id'), nullable=False)
    presiding_judge_id = Column(Integer, ForeignKey('judges.id'))
    amount_claimed = Column(String) # USD
    amount_claimed_category = Column(Integer, nullable=False) # enum (POSS | FEES | BOTH | NA)
    judgement = Column(Integer)
    judgement_notes = Column(String)
    
    plantiff = relationship('Plantiff', back_populates='detainer_warrants')
    courtroom = relationship('Courtroom', back_populates='cases')
    presiding_judge = relationship('Judge', back_populates='cases')
    
    defendants = relationship('Defendant',
                              secondary=detainer_warrant_defendants,
                              back_populates='detainer_warrants'
                             )
    def __repr__(self):
        return "<DetainerWarrant(docket_id='%s', file_date='%s')>" % (self.docket_id, self.file_date)

In [11]:
Base.metadata.create_all(engine)

2021-02-22 20:52:26,268 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-22 20:52:26,269 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,271 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-22 20:52:26,271 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,273 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("districts")
2021-02-22 20:52:26,274 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,276 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("districts")
2021-02-22 20:52:26,276 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,278 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("detainer_warrant_defendants")
2021-02-22 20:52:26,279 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,280 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("detainer_warrant_defendants")
2021-02-22 20:52:26,281 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,283 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("defendants")
2021-02-22 20:52:26,284 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,286 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("defendants")
2021-02-22 20:52:26,287 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,288 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("attorneys")
2021-02-22 20:52:26,288 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,289 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("attorneys")
2021-02-22 20:52:26,290 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,292 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("courtrooms")
2021-02-22 20:52:26,292 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,293 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("courtrooms")
2021-02-22 20:52:26,294 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,295 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("plantiffs")
2021-02-22 20:52:26,296 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,297 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("plantiffs")
2021-02-22 20:52:26,297 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,298 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("judges")
2021-02-22 20:52:26,299 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,301 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("judges")
2021-02-22 20:52:26,302 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,303 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("detainer_warrants")
2021-02-22 20:52:26,304 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,305 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("detainer_warrants")
2021-02-22 20:52:26,306 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,308 INFO sqlalchemy.engine.base.Engine
CREATE TABLE districts (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2021-02-22 20:52:26,309 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,310 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:26,313 INFO sqlalchemy.engine.base.Engine
CREATE TABLE defendants (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	phone VARCHAR,
	address VARCHAR NOT NULL,
	district_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(district_id) REFERENCES districts (id)
)


2021-02-22 20:52:26,315 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,316 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:26,318 INFO sqlalchemy.engine.base.Engine
CREATE TABLE attorneys (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	district_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(district_id) REFERENCES districts (id)
)


2021-02-22 20:52:26,319 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,320 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:26,321 INFO sqlalchemy.engine.base.Engine
CREATE TABLE courtrooms (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	district_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(district_id) REFERENCES districts (id)
)


2021-02-22 20:52:26,322 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,323 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:26,324 INFO sqlalchemy.engine.base.Engine
CREATE TABLE judges (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	district_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(district_id) REFERENCES districts (id)
)


2021-02-22 20:52:26,326 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,328 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:26,329 INFO sqlalchemy.engine.base.Engine
CREATE TABLE plantiffs (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	attorney_id INTEGER,
	district_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(attorney_id) REFERENCES attorneys (id),
	FOREIGN KEY(district_id) REFERENCES districts (id)
)


2021-02-22 20:52:26,330 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,332 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:26,335 INFO sqlalchemy.engine.base.Engine
CREATE TABLE detainer_warrants (
	docket_id VARCHAR NOT NULL,
	file_date VARCHAR NOT NULL,
	status INTEGER NOT NULL,
	plantiff_id INTEGER,
	court_date VARCHAR NOT NULL,
	courtroom_id INTEGER NOT NULL,
	presiding_judge_id INTEGER,
	amount_claimed VARCHAR,
	amount_claimed_category INTEGER NOT NULL,
	judgement INTEGER,
	judgement_notes VARCHAR,
	PRIMARY KEY (docket_id),
	FOREIGN KEY(plantiff_id) REFERENCES plantiffs (id),
	FOREIGN KEY(courtroom_id) REFERENCES courtrooms (id),
	FOREIGN KEY(presiding_judge_id) REFERENCES judges (id)
)


2021-02-22 20:52:26,336 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,338 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:26,340 INFO sqlalchemy.engine.base.Engine
CREATE TABLE detainer_warrant_defendants (
	detainer_warrant_docket_id VARCHAR NOT NULL,
	defendant_id INTEGER NOT NULL,
	PRIMARY KEY (detainer_warrant_docket_id, defendant_id),
	FOREIGN KEY(detainer_warrant_docket_id) REFERENCES detainer_warrants (docket_id),
	FOREIGN KEY(defendant_id) REFERENCES defendants (id)
)


2021-02-22 20:52:26,341 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 20:52:26,343 INFO sqlalchemy.engine.base.Engine COMMIT

# Spreadsheet Data

We'll be grabbing spreadsheet data from Google here, using the gspread library.

In [12]:
import gspread
gc = gspread.service_account()
sh = gc.open('detainer-warrants_15-02-2020')
ws = sh.worksheet("All Detainer Warrants")

In [13]:
ws.row_values(1)

['Docket #',
 'Order #',
 'File Date',
 'Status',
 'Month',
 'Year',
 'Plantiff',
 'Pltf. Attorney',
 'Court Date',
 'Courtroom',
 'Presiding Judge',
 'Amt Claimed ($)',
 'Amount Claimed (CATEGORY)',
 'Amount Claimed (NON-$)',
 'Defendant(s)',
 'Defendant Address',
 'Def #1 Name',
 'Def #1 Phone',
 'Def #2 Name',
 'Def #2 Phone',
 'Def #3 Name',
 'Def #3 Phone',
 'Judgement']

In [14]:
warrant = ws.row_values(3)

In [15]:
from sqlalchemy.orm import sessionmaker

In [16]:
Session = sessionmaker(bind=engine)
Session.configure(bind=engine)
session = Session()

In [17]:
def init_status(warrant):
    statuses = {
        'CLOSED': 0,
        'PENDING': 1
    }
    return statuses[warrant[3].upper()]

In [18]:
def init_amount_claimed_category(warrant):
    categories = {
        'POSS': 0,
        'FEES': 1,
        'BOTH': 2,
        'N/A': 3,
        '': 4
    }
    return categories[warrant[12].upper()]

In [ ]:
def init_judgement(warrant):
    judgements = {} # TODO: work on this
    return judgements[warrant[20]]

In [19]:
from sqlalchemy.sql import ClauseElement

def get_or_create(session, model, defaults=None, **kwargs):
    instance = session.query(model).filter_by(**kwargs).one_or_none()
    if instance:
        return instance, False
    else:
        params = {k: v for k, v in kwargs.items() if not isinstance(v, ClauseElement)}
        params.update(defaults or {})
        instance = model(**params)
        try:
            session.add(instance)
            session.commit()
        except Exception:  # The actual exception depends on the specific database so we catch all exceptions. This is similar to the official documentation: https://docs.sqlalchemy.org/en/latest/orm/session_transaction.html
            session.rollback()
            instance = session.query(model).filter_by(**kwargs).one()
            return instance, False
        else:
            return instance, True

In [20]:
district = District(name="Davidson County")

session.add(district)
session.commit()

2021-02-22 20:52:27,505 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:27,507 INFO sqlalchemy.engine.base.Engine INSERT INTO districts (name) VALUES (?)
2021-02-22 20:52:27,508 INFO sqlalchemy.engine.base.Engine ('Davidson County',)
2021-02-22 20:52:27,509 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
defaults = {'district': district}

def detainer_warrant(warrant):
    docket_id = warrant[0]
    file_date = warrant[2]
    status = init_status(warrant)
    attorney, _ = get_or_create(session, Attorney, name=warrant[7], defaults=defaults)
    plantiff, _ = get_or_create(session, Plantiff, name=warrant[6], attorney=attorney, defaults=defaults)
    court_date = warrant[8]
    courtroom, _ = get_or_create(session, Courtroom, name=warrant[9], defaults=defaults)
    presiding_judge, _ = get_or_create(session, Judge, name=warrant[10], defaults=defaults)
    amount_claimed = warrant[11]
    amount_claimed_category = init_amount_claimed_category(warrant)
    defendant, _ = get_or_create(session, Defendant, address=warrant[15], name=warrant[14], phone=warrant[16], defaults=defaults)
    
    return DetainerWarrant(
        docket_id=docket_id,
        file_date=file_date,
        status=status,
        plantiff=plantiff,
        court_date=court_date,
        courtroom=courtroom,
        presiding_judge=presiding_judge,
        amount_claimed=amount_claimed,
        amount_claimed_category=amount_claimed_category,
        defendants=[defendant]
        )

In [22]:
NUM_WARRANTS_TO_INSERT = 5 # insert just a bit of data to play with

for warrant in ws.get_all_values()[1:NUM_WARRANTS_TO_INSERT]:
    session.add(detainer_warrant(warrant))

session.commit()

2021-02-22 20:52:28,067 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,068 INFO sqlalchemy.engine.base.Engine SELECT attorneys.id AS attorneys_id, attorneys.name AS attorneys_name, attorneys.district_id AS attorneys_district_id
FROM attorneys
WHERE attorneys.name = ?
2021-02-22 20:52:28,068 INFO sqlalchemy.engine.base.Engine ('PRS',)
2021-02-22 20:52:28,071 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,072 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,074 INFO sqlalchemy.engine.base.Engine INSERT INTO attorneys (name, district_id) VALUES (?, ?)
2021-02-22 20:52:28,075 INFO sqlalchemy.engine.base.Engine ('PRS', 1)
2021-02-22 20:52:28,076 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,077 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,079 INFO sqlalchemy.engine.base.Engine SELECT attorneys.id AS attorneys_id, attorneys.name AS attorneys_name, attorneys.district_id AS attorneys_district_id
FROM attorneys
WHERE attorneys.id = ?
2021-02-22 20:52:28,080 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,082 INFO sqlalchemy.engine.base.Engine SELECT plantiffs.id AS plantiffs_id, plantiffs.name AS plantiffs_name, plantiffs.attorney_id AS plantiffs_attorney_id, plantiffs.district_id AS plantiffs_district_id
FROM plantiffs
WHERE plantiffs.name = ? AND ? = plantiffs.attorney_id
2021-02-22 20:52:28,083 INFO sqlalchemy.engine.base.Engine ('DADE,SONDRA A', 1)
2021-02-22 20:52:28,086 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,087 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,088 INFO sqlalchemy.engine.base.Engine INSERT INTO plantiffs (name, attorney_id, district_id) VALUES (?, ?, ?)
2021-02-22 20:52:28,089 INFO sqlalchemy.engine.base.Engine ('DADE,SONDRA A', 1, 1)
2021-02-22 20:52:28,090 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,092 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,094 INFO sqlalchemy.engine.base.Engine SELECT courtrooms.id AS courtrooms_id, courtrooms.name AS courtrooms_name, courtrooms.district_id AS courtrooms_district_id
FROM courtrooms
WHERE courtrooms.name = ?
2021-02-22 20:52:28,094 INFO sqlalchemy.engine.base.Engine ('',)
2021-02-22 20:52:28,097 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,098 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,100 INFO sqlalchemy.engine.base.Engine INSERT INTO courtrooms (name, district_id) VALUES (?, ?)
2021-02-22 20:52:28,102 INFO sqlalchemy.engine.base.Engine ('', 1)
2021-02-22 20:52:28,103 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,107 INFO sqlalchemy.engine.base.Engine SELECT judges.id AS judges_id, judges.name AS judges_name, judges.district_id AS judges_district_id
FROM judges
WHERE judges.name = ?
2021-02-22 20:52:28,108 INFO sqlalchemy.engine.base.Engine ('',)
2021-02-22 20:52:28,110 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,111 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,113 INFO sqlalchemy.engine.base.Engine INSERT INTO judges (name, district_id) VALUES (?, ?)
2021-02-22 20:52:28,114 INFO sqlalchemy.engine.base.Engine ('', 1)
2021-02-22 20:52:28,116 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,120 INFO sqlalchemy.engine.base.Engine SELECT defendants.id AS defendants_id, defendants.name AS defendants_name, defendants.phone AS defendants_phone, defendants.address AS defendants_address, defendants.district_id AS defendants_district_id
FROM defendants
WHERE defendants.address = ? AND defendants.name = ? AND defendants.phone = ?
2021-02-22 20:52:28,121 INFO sqlalchemy.engine.base.Engine ('741 LONGHUNTER COURT 37217', 'CROWE,JARED', 'JARED CROWE')
2021-02-22 20:52:28,125 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,126 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,127 INFO sqlalchemy.engine.base.Engine INSERT INTO defendants (name, phone, address, district_id) VALUES (?, ?, ?, ?)
2021-02-22 20:52:28,128 INFO sqlalchemy.engine.base.Engine ('CROWE,JARED', 'JARED CROWE', '741 LONGHUNTER COURT 37217', 1)
2021-02-22 20:52:28,130 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,135 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,137 INFO sqlalchemy.engine.base.Engine SELECT courtrooms.id AS courtrooms_id, courtrooms.name AS courtrooms_name, courtrooms.district_id AS courtrooms_district_id
FROM courtrooms
WHERE courtrooms.id = ?
2021-02-22 20:52:28,138 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,140 INFO sqlalchemy.engine.base.Engine SELECT plantiffs.id AS plantiffs_id, plantiffs.name AS plantiffs_name, plantiffs.attorney_id AS plantiffs_attorney_id, plantiffs.district_id AS plantiffs_district_id
FROM plantiffs
WHERE plantiffs.id = ?
2021-02-22 20:52:28,141 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,144 INFO sqlalchemy.engine.base.Engine SELECT judges.id AS judges_id, judges.name AS judges_name, judges.district_id AS judges_district_id
FROM judges
WHERE judges.id = ?
2021-02-22 20:52:28,145 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,149 INFO sqlalchemy.engine.base.Engine INSERT INTO detainer_warrants (docket_id, file_date, status, plantiff_id, court_date, courtroom_id, presiding_judge_id, amount_claimed, amount_claimed_category, judgement, judgement_notes) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-02-22 20:52:28,150 INFO sqlalchemy.engine.base.Engine ('20GT1', '1/2/20', 0, 1, '', 1, 1, '', 4, None, None)
2021-02-22 20:52:28,153 INFO sqlalchemy.engine.base.Engine SELECT defendants.id AS defendants_id, defendants.name AS defendants_name, defendants.phone AS defendants_phone, defendants.address AS defendants_address, defendants.district_id AS defendants_district_id
FROM defendants
WHERE defendants.id = ?
2021-02-22 20:52:28,155 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,157 INFO sqlalchemy.engine.base.Engine INSERT INTO detainer_warrant_defendants (detainer_warrant_docket_id, defendant_id) VALUES (?, ?)
2021-02-22 20:52:28,157 INFO sqlalchemy.engine.base.Engine ('20GT1', 1)
2021-02-22 20:52:28,159 INFO sqlalchemy.engine.base.Engine SELECT attorneys.id AS attorneys_id, attorneys.name AS attorneys_name, attorneys.district_id AS attorneys_district_id
FROM attorneys
WHERE attorneys.name = ?
2021-02-22 20:52:28,160 INFO sqlalchemy.engine.base.Engine ('PRS',)
2021-02-22 20:52:28,162 INFO sqlalchemy.engine.base.Engine SELECT plantiffs.id AS plantiffs_id, plantiffs.name AS plantiffs_name, plantiffs.attorney_id AS plantiffs_attorney_id, plantiffs.district_id AS plantiffs_district_id
FROM plantiffs
WHERE plantiffs.name = ? AND ? = plantiffs.attorney_id
2021-02-22 20:52:28,164 INFO sqlalchemy.engine.base.Engine ('BATTLE,PATRICIA', 1)
2021-02-22 20:52:28,168 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,169 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,172 INFO sqlalchemy.engine.base.Engine INSERT INTO plantiffs (name, attorney_id, district_id) VALUES (?, ?, ?)
2021-02-22 20:52:28,172 INFO sqlalchemy.engine.base.Engine ('BATTLE,PATRICIA', 1, 1)
2021-02-22 20:52:28,174 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,176 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,177 INFO sqlalchemy.engine.base.Engine SELECT courtrooms.id AS courtrooms_id, courtrooms.name AS courtrooms_name, courtrooms.district_id AS courtrooms_district_id
FROM courtrooms
WHERE courtrooms.name = ?
2021-02-22 20:52:28,178 INFO sqlalchemy.engine.base.Engine ('',)
2021-02-22 20:52:28,180 INFO sqlalchemy.engine.base.Engine SELECT judges.id AS judges_id, judges.name AS judges_name, judges.district_id AS judges_district_id
FROM judges
WHERE judges.name = ?
2021-02-22 20:52:28,182 INFO sqlalchemy.engine.base.Engine ('',)
2021-02-22 20:52:28,185 INFO sqlalchemy.engine.base.Engine SELECT defendants.id AS defendants_id, defendants.name AS defendants_name, defendants.phone AS defendants_phone, defendants.address AS defendants_address, defendants.district_id AS defendants_district_id
FROM defendants
WHERE defendants.address = ? AND defendants.name = ? AND defendants.phone = ?
2021-02-22 20:52:28,186 INFO sqlalchemy.engine.base.Engine ('5109 BUENA VISTA PIKE 37218', 'WILLIAMS,SHARHONDA', 'SHARHONDA WILLIAMS')
2021-02-22 20:52:28,189 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,190 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,191 INFO sqlalchemy.engine.base.Engine INSERT INTO defendants (name, phone, address, district_id) VALUES (?, ?, ?, ?)
2021-02-22 20:52:28,192 INFO sqlalchemy.engine.base.Engine ('WILLIAMS,SHARHONDA', 'SHARHONDA WILLIAMS', '5109 BUENA VISTA PIKE 37218', 1)
2021-02-22 20:52:28,193 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,196 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,199 INFO sqlalchemy.engine.base.Engine SELECT plantiffs.id AS plantiffs_id, plantiffs.name AS plantiffs_name, plantiffs.attorney_id AS plantiffs_attorney_id, plantiffs.district_id AS plantiffs_district_id
FROM plantiffs
WHERE plantiffs.id = ?
2021-02-22 20:52:28,200 INFO sqlalchemy.engine.base.Engine (2,)
2021-02-22 20:52:28,202 INFO sqlalchemy.engine.base.Engine SELECT judges.id AS judges_id, judges.name AS judges_name, judges.district_id AS judges_district_id
FROM judges
WHERE judges.id = ?
2021-02-22 20:52:28,203 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,205 INFO sqlalchemy.engine.base.Engine SELECT courtrooms.id AS courtrooms_id, courtrooms.name AS courtrooms_name, courtrooms.district_id AS courtrooms_district_id
FROM courtrooms
WHERE courtrooms.id = ?
2021-02-22 20:52:28,206 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,208 INFO sqlalchemy.engine.base.Engine INSERT INTO detainer_warrants (docket_id, file_date, status, plantiff_id, court_date, courtroom_id, presiding_judge_id, amount_claimed, amount_claimed_category, judgement, judgement_notes) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-02-22 20:52:28,209 INFO sqlalchemy.engine.base.Engine ('20GT2', '1/2/20', 0, 2, '', 1, 1, '', 4, None, None)
2021-02-22 20:52:28,211 INFO sqlalchemy.engine.base.Engine SELECT defendants.id AS defendants_id, defendants.name AS defendants_name, defendants.phone AS defendants_phone, defendants.address AS defendants_address, defendants.district_id AS defendants_district_id
FROM defendants
WHERE defendants.id = ?
2021-02-22 20:52:28,212 INFO sqlalchemy.engine.base.Engine (2,)
2021-02-22 20:52:28,214 INFO sqlalchemy.engine.base.Engine INSERT INTO detainer_warrant_defendants (detainer_warrant_docket_id, defendant_id) VALUES (?, ?)
2021-02-22 20:52:28,215 INFO sqlalchemy.engine.base.Engine ('20GT2', 2)
2021-02-22 20:52:28,217 INFO sqlalchemy.engine.base.Engine SELECT attorneys.id AS attorneys_id, attorneys.name AS attorneys_name, attorneys.district_id AS attorneys_district_id
FROM attorneys
WHERE attorneys.name = ?
2021-02-22 20:52:28,218 INFO sqlalchemy.engine.base.Engine ('PRS',)
2021-02-22 20:52:28,220 INFO sqlalchemy.engine.base.Engine SELECT plantiffs.id AS plantiffs_id, plantiffs.name AS plantiffs_name, plantiffs.attorney_id AS plantiffs_attorney_id, plantiffs.district_id AS plantiffs_district_id
FROM plantiffs
WHERE plantiffs.name = ? AND ? = plantiffs.attorney_id
2021-02-22 20:52:28,221 INFO sqlalchemy.engine.base.Engine ('DELGADO,PABLO', 1)
2021-02-22 20:52:28,225 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,226 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,227 INFO sqlalchemy.engine.base.Engine INSERT INTO plantiffs (name, attorney_id, district_id) VALUES (?, ?, ?)
2021-02-22 20:52:28,228 INFO sqlalchemy.engine.base.Engine ('DELGADO,PABLO', 1, 1)
2021-02-22 20:52:28,230 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,232 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,233 INFO sqlalchemy.engine.base.Engine SELECT courtrooms.id AS courtrooms_id, courtrooms.name AS courtrooms_name, courtrooms.district_id AS courtrooms_district_id
FROM courtrooms
WHERE courtrooms.name = ?
2021-02-22 20:52:28,235 INFO sqlalchemy.engine.base.Engine ('',)
2021-02-22 20:52:28,237 INFO sqlalchemy.engine.base.Engine SELECT judges.id AS judges_id, judges.name AS judges_name, judges.district_id AS judges_district_id
FROM judges
WHERE judges.name = ?
2021-02-22 20:52:28,238 INFO sqlalchemy.engine.base.Engine ('',)
2021-02-22 20:52:28,239 INFO sqlalchemy.engine.base.Engine SELECT defendants.id AS defendants_id, defendants.name AS defendants_name, defendants.phone AS defendants_phone, defendants.address AS defendants_address, defendants.district_id AS defendants_district_id
FROM defendants
WHERE defendants.address = ? AND defendants.name = ? AND defendants.phone = ?
2021-02-22 20:52:28,240 INFO sqlalchemy.engine.base.Engine ('323 FOREST PARK RD BLD 6 APT 2 37115', 'OCCUPANT', ' OCCUPANT')
2021-02-22 20:52:28,243 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,244 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,245 INFO sqlalchemy.engine.base.Engine INSERT INTO defendants (name, phone, address, district_id) VALUES (?, ?, ?, ?)
2021-02-22 20:52:28,246 INFO sqlalchemy.engine.base.Engine ('OCCUPANT', ' OCCUPANT', '323 FOREST PARK RD BLD 6 APT 2 37115', 1)
2021-02-22 20:52:28,248 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,253 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,256 INFO sqlalchemy.engine.base.Engine SELECT judges.id AS judges_id, judges.name AS judges_name, judges.district_id AS judges_district_id
FROM judges
WHERE judges.id = ?
2021-02-22 20:52:28,257 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,259 INFO sqlalchemy.engine.base.Engine SELECT courtrooms.id AS courtrooms_id, courtrooms.name AS courtrooms_name, courtrooms.district_id AS courtrooms_district_id
FROM courtrooms
WHERE courtrooms.id = ?
2021-02-22 20:52:28,260 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,261 INFO sqlalchemy.engine.base.Engine SELECT plantiffs.id AS plantiffs_id, plantiffs.name AS plantiffs_name, plantiffs.attorney_id AS plantiffs_attorney_id, plantiffs.district_id AS plantiffs_district_id
FROM plantiffs
WHERE plantiffs.id = ?
2021-02-22 20:52:28,262 INFO sqlalchemy.engine.base.Engine (3,)
2021-02-22 20:52:28,264 INFO sqlalchemy.engine.base.Engine INSERT INTO detainer_warrants (docket_id, file_date, status, plantiff_id, court_date, courtroom_id, presiding_judge_id, amount_claimed, amount_claimed_category, judgement, judgement_notes) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-02-22 20:52:28,264 INFO sqlalchemy.engine.base.Engine ('20GT3', '1/2/20', 0, 3, '', 1, 1, '', 4, None, None)
2021-02-22 20:52:28,267 INFO sqlalchemy.engine.base.Engine SELECT defendants.id AS defendants_id, defendants.name AS defendants_name, defendants.phone AS defendants_phone, defendants.address AS defendants_address, defendants.district_id AS defendants_district_id
FROM defendants
WHERE defendants.id = ?
2021-02-22 20:52:28,268 INFO sqlalchemy.engine.base.Engine (3,)
2021-02-22 20:52:28,269 INFO sqlalchemy.engine.base.Engine INSERT INTO detainer_warrant_defendants (detainer_warrant_docket_id, defendant_id) VALUES (?, ?)
2021-02-22 20:52:28,270 INFO sqlalchemy.engine.base.Engine ('20GT3', 3)
2021-02-22 20:52:28,272 INFO sqlalchemy.engine.base.Engine SELECT attorneys.id AS attorneys_id, attorneys.name AS attorneys_name, attorneys.district_id AS attorneys_district_id
FROM attorneys
WHERE attorneys.name = ?
2021-02-22 20:52:28,273 INFO sqlalchemy.engine.base.Engine ('PRS',)
2021-02-22 20:52:28,275 INFO sqlalchemy.engine.base.Engine SELECT plantiffs.id AS plantiffs_id, plantiffs.name AS plantiffs_name, plantiffs.attorney_id AS plantiffs_attorney_id, plantiffs.district_id AS plantiffs_district_id
FROM plantiffs
WHERE plantiffs.name = ? AND ? = plantiffs.attorney_id
2021-02-22 20:52:28,276 INFO sqlalchemy.engine.base.Engine ('JERNIGAN,JERRY D', 1)
2021-02-22 20:52:28,279 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,280 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,282 INFO sqlalchemy.engine.base.Engine INSERT INTO plantiffs (name, attorney_id, district_id) VALUES (?, ?, ?)
2021-02-22 20:52:28,283 INFO sqlalchemy.engine.base.Engine ('JERNIGAN,JERRY D', 1, 1)
2021-02-22 20:52:28,285 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,286 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,287 INFO sqlalchemy.engine.base.Engine SELECT courtrooms.id AS courtrooms_id, courtrooms.name AS courtrooms_name, courtrooms.district_id AS courtrooms_district_id
FROM courtrooms
WHERE courtrooms.name = ?
2021-02-22 20:52:28,288 INFO sqlalchemy.engine.base.Engine ('',)
2021-02-22 20:52:28,290 INFO sqlalchemy.engine.base.Engine SELECT judges.id AS judges_id, judges.name AS judges_name, judges.district_id AS judges_district_id
FROM judges
WHERE judges.name = ?
2021-02-22 20:52:28,291 INFO sqlalchemy.engine.base.Engine ('',)
2021-02-22 20:52:28,293 INFO sqlalchemy.engine.base.Engine SELECT defendants.id AS defendants_id, defendants.name AS defendants_name, defendants.phone AS defendants_phone, defendants.address AS defendants_address, defendants.district_id AS defendants_district_id
FROM defendants
WHERE defendants.address = ? AND defendants.name = ? AND defendants.phone = ?
2021-02-22 20:52:28,294 INFO sqlalchemy.engine.base.Engine ('2925 CHAPELWOOD DR 37076', 'SCHUTT,MICHAEL  ', 'MICHAEL SCHUTT')
2021-02-22 20:52:28,296 INFO sqlalchemy.engine.base.Engine SELECT districts.id AS districts_id, districts.name AS districts_name
FROM districts
WHERE districts.id = ?
2021-02-22 20:52:28,297 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,298 INFO sqlalchemy.engine.base.Engine INSERT INTO defendants (name, phone, address, district_id) VALUES (?, ?, ?, ?)
2021-02-22 20:52:28,300 INFO sqlalchemy.engine.base.Engine ('SCHUTT,MICHAEL  ', 'MICHAEL SCHUTT', '2925 CHAPELWOOD DR 37076', 1)
2021-02-22 20:52:28,301 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-22 20:52:28,305 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 20:52:28,307 INFO sqlalchemy.engine.base.Engine SELECT judges.id AS judges_id, judges.name AS judges_name, judges.district_id AS judges_district_id
FROM judges
WHERE judges.id = ?
2021-02-22 20:52:28,308 INFO sqlalchemy.engine.base.Engine (1,)
2021-02-22 20:52:28,310 INFO sqlalchemy.engine.base.Engine SELECT plantiffs.id AS plantiffs_id, plantiffs.name AS plantiffs_name, plantiffs.attorney_id AS plantiffs_attorney_id, plantiffs.district_id AS plantiffs_district_id
FROM plantiffs
WHERE plantiffs.id = ?
2021-02-22 20:52:28,311 INFO sqlalchemy.engine.base.Engine (4,)

## Querying the database

Refer to the SQLAlchemy [official querying documentation](https://docs.sqlalchemy.org/en/13/orm/tutorial.html#querying).
This reference will be invaluable for learning how to work with this data.

Below are some example queries:

In [28]:
session.query(DetainerWarrant).first().defendants

2021-02-22 21:05:47,606 INFO sqlalchemy.engine.base.Engine SELECT detainer_warrants.docket_id AS detainer_warrants_docket_id, detainer_warrants.file_date AS detainer_warrants_file_date, detainer_warrants.status AS detainer_warrants_status, detainer_warrants.plantiff_id AS detainer_warrants_plantiff_id, detainer_warrants.court_date AS detainer_warrants_court_date, detainer_warrants.courtroom_id AS detainer_warrants_courtroom_id, detainer_warrants.presiding_judge_id AS detainer_warrants_presiding_judge_id, detainer_warrants.amount_claimed AS detainer_warrants_amount_claimed, detainer_warrants.amount_claimed_category AS detainer_warrants_amount_claimed_category, detainer_warrants.judgement AS detainer_warrants_judgement, detainer_warrants.judgement_notes AS detainer_warrants_judgement_notes
FROM detainer_warrants
 LIMIT ? OFFSET ?
2021-02-22 21:05:47,607 INFO sqlalchemy.engine.base.Engine (1, 0)
2021-02-22 21:05:47,611 INFO sqlalchemy.engine.base.Engine SELECT defendants.id AS defendants_id, defendants.name AS defendants_name, defendants.phone AS defendants_phone, defendants.address AS defendants_address, defendants.district_id AS defendants_district_id
FROM defendants, detainer_warrant_defendants
WHERE ? = detainer_warrant_defendants.detainer_warrant_docket_id AND defendants.id = detainer_warrant_defendants.defendant_id
2021-02-22 21:05:47,612 INFO sqlalchemy.engine.base.Engine ('20GT1',)

In [41]:
session.query(Attorney).first().plantiff_clients

2021-02-22 21:11:13,712 INFO sqlalchemy.engine.base.Engine SELECT attorneys.id AS attorneys_id, attorneys.name AS attorneys_name, attorneys.district_id AS attorneys_district_id
FROM attorneys
 LIMIT ? OFFSET ?
2021-02-22 21:11:13,713 INFO sqlalchemy.engine.base.Engine (1, 0)

[<Plantiff(name='DADE,SONDRA A', attorney_id='1', district_id='1')>,
 <Plantiff(name='BATTLE,PATRICIA', attorney_id='1', district_id='1')>,
 <Plantiff(name='DELGADO,PABLO', attorney_id='1', district_id='1')>,
 <Plantiff(name='JERNIGAN,JERRY D', attorney_id='1', district_id='1')>,
 <Plantiff(name='APPIAH,ELVIS', attorney_id='1', district_id='1')>]